.search {
    background-color: rgb(25, 37, 49);
    /* width: 350px;
    display: inline-flex;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px; */
    
}

.search input{
    padding-left: 7px;
    border: none;
    border-radius: 3px;
}

.boton{
    background-color: rgb(25, 37, 49);
    color: rgba(5, 185, 5, 0.863);
    margin: 5px;
    border: rgba(5, 185, 5, 0.863) solid 1px;
    border-radius: 3px;

}